
header#header
  .navbar.navbar-fixed-top(role='navigation')
    .navbar-inner
      .container
        a.brand(href='/') Photohub
        .nav-collapse.collapse
          ul.nav
            li
              a(href='/albums', title="album listing") Albums
            li
              a(href="/albums/new", title="new album") New
          ul.nav.pull-right
            if (everyauth.loggedIn)
              li
                a(href="/profile/"+everyauth.user.id, title="Profile") Profile
              li
                a(href="/logout", title="logout") Logout
            else
              li
                a(href="/login", title="Login") Login
              li
                a(href="/register", title="Register") Register
              li
                a(href="/auth/facebook", title="Login with Facebook") Use Facebook
              li
                a(href="/auth/twitter", title="Login with Twitter") Use Twitter
              li
                a(href="/auth/google", title="Login with Google") Use Google

