h2 Log In
- if ('undefined' !== typeof errors && errors.length)
  ul#errors
    - each error in errors
      li.error= error
form(action='/login', method='post')
  #login
    label(for='email') Email
    input(type='text', name='email')
  #password
    label(for='password') Password
    input(type='password', name='password')
  #submit
    input(type='submit') Login
