!= messages()

h2= title

div#albums
  - if(albums && albums.length)
    != partial('album_list', {collection : albums, as : 'album'})
  - else
    #no-results No albums found. Create one
      a(href="/albums/new") &nbsp;here
